.footer {
  a {
    transition: color 0.3s ease;

    &:hover {
      color: $primary;
    }
  }
}

.footer__wrapper {
  max-width: 1412px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 37px;
}

.footer__contact-button,
.footer__menu-button {
  visibility: hidden;
  width: 0;
  height: 0;
  border: 0;
  font-size: 0;
  padding: 0;
}

.footer__menu-head,
.footer__contact-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > p {
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1b2d37;
    margin-bottom: 9px;
  }
}

.footer__menu-block {
  width: 42%;
  padding-left: 5%;
}

.footer__contact {
  width: 23.8%;
}

.footer__social {
  width: 20%;

  > p {
    visibility: hidden;
    margin: 0;
    font-size: 0;
  }
}

.footer__menu-block,
.footer__contact {
  a {
    font-family: $font-family-mono;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #1b2d37;
    opacity: 0.5;

    &:hover {
      color: $primary;
    }
  }
}

.footer__social-list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 15px;
  margin-top: 50px;

  li {
    list-style: none;
    margin-bottom: 12px;
  }
}

.footer__social-item {
  display: block;
  font-size: 0;
  width: 27px;
  height: 27px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &--facebook {
    background-image: url("../img/social-facebook.svg");
  }

  &--ok {
    background-image: url("../img/social-ok.svg");
  }

  &--vk {
    background-image: url("../img/social-vk.svg");
  }

  &:hover {
    filter: contrast(175%) brightness(3%);
  }
}

.footer__menu {
  max-width: 599px;

  ul {
    column-count: 2;
    padding: 0;
    column-gap: 5%;
  }

  li {
    page-break-inside: avoid;
    display: inline-block;
    vertical-align: auto;
    width: 100%;
    list-style: none;
  }
}

.footer__contact-list {
  padding: 0;

  li {
    list-style: none;
  }
}

.footer__license {
  border-top: 1px solid #6269622f;
  padding-bottom: 14px;
}

.footer__license-block {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1412px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__reserv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 457px;
  width: 35%;
  font-size: 13px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: $font-family-mono;
  color: #1b2d37;
  opacity: 0.5;
}

.footer__privacy {
  display: grid;
  grid-template-columns: 1fr max-content;
  max-width: 813px;
  width: 65%;

  a {
    font-size: 13px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-family: $font-family-mono;
    color: #1b2d37;
    opacity: 0.5;
    text-decoration: none;
  }
}

@media (max-width: $tablet) {
  .footer__license-block {
    padding-left: 0;
    padding-right: 0;
  }

  .footer__wrapper {
    max-width: 1412px;
    padding-top: 19px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .footer__social {
    border-bottom: 1px solid #6269622f;
    width: 100%;
    padding-left: 25px;
    padding-right: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 21px;

    > p {
      font-family: $font-family-mono;
      font-weight: normal;
      font-size: 13px;
      line-height: 24px;
      visibility: visible;
      align-items: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #1b2d37;
      opacity: 0.5;
      margin-top: 18px;
      margin-left: 12px;
    }
  }

  .footer__social-list {
    margin-top: 12px;
    margin-bottom: 3px;
  }

  .footer__menu-block {
    padding: 0;
    margin-top: 38px;
    margin-left: 25px;
    width: 45%;
  }

  .footer__contact-list {
    margin-top: 2px;
  }

  .footer__menu {
    ul {
      column-count: 1;
      margin-top: 2px;
    }
  }

  .footer__contact {
    width: 45%;
    margin-right: 24px;
    margin-top: 38px;
  }

  .footer__contact-head,
  .footer__menu-head {
    > p {
      margin-left: 2px;
      margin-bottom: 22px;
    }
  }

  .footer__license {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 9px;
  }

  .footer__reserv {
    width: 0;
    height: 0;
    font-size: 0;
    visibility: hidden;
  }

  .footer__privacy {
    width: 100%;
  }
}

@media (max-width: $mobile) {
  .footer__contact-head {
    > p {
      margin-left: 0;
    }
  }

  .footer__menu-head {
    > p {
      margin-left: 0;
      margin-bottom: 14px;
    }
  }

  .footer__wrapper {
    padding-bottom: 0;
  }

  .footer__logo {
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__social {
    padding-left: 25px;
    padding-right: 24px;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;

    > p {
      margin-top: 23px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }

  .footer__menu-block {
    border-bottom: 1px solid #6269622f;
    width: 100%;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 29px;
    padding-bottom: 11px;
  }

  .footer__menu-head,
  .footer__contact-head {
    position: relative;
  }

  .footer__contact-button,
  .footer__menu-button {
    position: absolute;
    top: -10px;
    right: 0;
    visibility: visible;
    width: 100%;
    height: 100%;
    background-image: url("../img/minus.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: transparent;
  }

  .accordeon-btn-close {
    background-image: url("../img/plus.svg");
  }

  .footer__social-list {
    margin: 12px auto 0 auto;
  }

  .footer__contact {
    width: 100%;
    margin-left: 13px;
    margin-right: 16px;
    margin-top: 28px;
  }

  .footer__contact-list {
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 12px;
    margin-bottom: 26px;
  }

  .accordeon-close {
    height: 0;
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer__privacy {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 6px auto;
    text-align: center;
    justify-content: center;

    a {
      margin-bottom: 21px;
    }
  }
}
