.form-block {
  background-color: $primary;
  min-height: 580px;
  padding-top: 90px;
  overflow: hidden;

  .error {
    background-color: $error;
  }
}

.form-block__wrapper {
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  max-width: 1170px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 42%;
    height: 288px;
    background-image: url("../img/airplane.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/airplane-x2.png");
    }

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 72px;
  }

  &::before {
    position: absolute;
    top: -150px;
    right: -632px;
    width: 178%;
    height: 764px;
    content: "";
    background-image: url("../img/airplane-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
  }
}

.form-block__form {
  font-family: $font-family-mono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $white;

  p:first-child {
    font-family: $font-family-roboto-cond;
    width: 100%;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    margin-left: -4px;
    margin-bottom: 10px;
  }

  p:not(:first-child) {
    width: 100%;
    margin-bottom: 10px;
  }

  input,
  textarea {
    pointer-events: all;
    background-color: $primary-input;
    color: $black-lite;
    border: none;
    border-radius: 0;
    padding: 14px 16px;
    z-index: 4;

    &::placeholder {
      color: $white;
    }
  }

  button {
    width: 270px;
    height: 45px;
    border: 1px solid $white;
    border-radius: 5px;
    background-color: transparent;
    color: $white;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    z-index: 4;

    &:hover {
      background-color: $white;
      color: $primary;
      cursor: pointer;
    }
  }
}

.form-block__form-element {
  font-family: $font-family-mono;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &::placeholder {
    color: $white;
  }

  &--name,
  &--phone {
    width: 238px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &--text {
    width: 100%;
    max-height: 130px;
    margin-bottom: 42px;
    resize: none;
  }

  &--checkbox {
    width: 240px;
    margin-right: 30px;
    order: 1;
    display: flex;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    margin-top: 6px;

    input {
      appearance: none;
      --webkit-appearance: none;
      --moz-appearance: none;
      background-color: transparent;
      z-index: 4;
      cursor: pointer;
      padding: 0;
      margin-top: -2px;
      margin-right: 12px;
      width: 38px;
      height: 20px;
    }

    .error + span {
      border-color: $error;
    }

    span {
      position: absolute;
      width: 16px;
      height: 16px;
      border: 1px solid $white;
      top: -1px;
      left: 6px;
      z-index: 2;
    }

    input:checked + span {
      background-image: url("../img/chek.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

@media (max-width: $tablet) {
  .form-block {
    background-color: $primary;
    background-image: none;
    min-height: 583px;
    padding-top: 80px;
  }

  .form-block__wrapper {
    justify-content: center;
    max-width: 590px;
    padding-left: 0;
    padding-right: 0;

    &::after {
      width: 0;
      height: 0;
      visibility: hidden;
    }

    &::before {
      width: 0;
      height: 0;
      visibility: hidden;
    }
  }

  .form-block__form {
    width: 100%;

    p:first-child {
      font-size: 32px;
      line-height: 140.62%;
      margin-bottom: 17px;
    }

    p:not(:first-child) {
      width: 100%;
      margin-bottom: 10px;
      margin-left: 2px;
    }

    textarea {
      padding: 13px 19px;
    }

    button {
      width: 280px;
      margin-left: 2px;
      margin-top: 2px;
    }
  }

  .form-block__form-element {
    font-family: $font-family-mono;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    ::placeholder {
      color: $white;
    }

    &--name,
    &--phone {
      width: 245px;
      margin-top: 40px;
      margin-bottom: 42px;
      padding: 17px 19px;
    }

    &--text {
      width: 100%;
      max-height: 134px;
      margin-bottom: 46px;
    }

    &--checkbox {
      width: 250px;
      padding: 0;
      font-size: 14px;
      line-height: 16px;
      margin-top: 11px;
      margin-right: 25px;

      input {
        margin-right: 15px;
      }

      span {
        left: 6px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .form-block {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 31px;
    min-height: 610px;
    overflow: initial;
  }

  .form-block__form {
    flex-direction: column;

    p:first-child {
      font-size: 28px;
      line-height: 140.62%;
      margin-left: 0;
      margin-bottom: 12px;
    }

    p:not(:first-child) {
      margin-bottom: 10px;
      margin-left: 0;
    }

    input {
      padding: 14.5px 19px;
    }

    button {
      width: 100%;
      margin-left: 0;
    }
  }

  .form-block__form-element {
    font-family: $font-family-mono;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;

    &--name,
    &--phone {
      box-sizing: border-box;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    &--text {
      margin-top: 15px;
      max-height: 84px;
      margin-bottom: 28px;
      box-sizing: border-box;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      min-height: 108px;
    }

    &--checkbox {
      font-size: 14px;
      line-height: 16px;
      margin-top: 32px;
      margin-left: -11px;

      input {
        margin-right: 10px;
        padding: 0;
        width: 50px;
      }

      span {
        left: 10px;
      }

      label {
        width: 270px;
      }
    }
  }
}
