.page {
  font-style: normal;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

.page-body {
  height: 100%;
  margin: 0;
  font-family: $font-family-roboto-cond;
  font-style: normal;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a,
button {
  transition: all 0.3s ease;
  cursor: pointer;

  &:active {
    opacity: 0.4;
  }
}
// Убрать белое выделение при автозаполнении
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px $primary-input inset;
  -webkit-text-fill-color: $white;
}
