// fonts
$font-family-mono: "PT Mono", "Courier", monospace;
$font-family-roboto-cond: "Roboto Condensed", "Georgia", serif;
// display
$mobile: 767px;
$tablet: 1023px;
// color
$primary: #00b2ff;
$error: #e93c3c;
$white: #ffffff;
$black: #000000;
$black-lite: #1f1f1f;
$gray: #666666;
$gray-darck: #1b2d37;
