// global
@import "global/fonts.scss";
@import "global/variables.scss";
// blocks
@import "block/page.scss";
@import "block/header.scss";
@import "block/top.scss";
@import "block/advantage.scss";
@import "block/about.scss";
@import "block/services.scss";
@import "block/form.scss";
@import "block/footer.scss";
// popup
@import "block/popup.scss";
@import "block/success.scss";
// elements
@import "elem/logo.scss";

.advantage-about-wrapper {
  background-image: url("../img/about-bg.svg");
  background-position: 0 34%;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 110px;
}

.visually-hidden {
  font-size: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  height: 0;
  width: 0;
}

p {
  margin: 0;
}

.tablet {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
}

@media (max-width: $tablet) {
  .advantage-about-wrapper {
    padding-bottom: 2px;
    background-image: url("../img/about-bg-tablet.svg");
    background-position: 276px 56%;
    background-size: 766px;
  }

  .desktop {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    font-size: 0;
  }

  .tablet {
    visibility: visible;
    width: auto;
    height: auto;
    margin: auto;
  }
}

@media (max-width: $mobile) {
  .advantage-about-wrapper {
    background-position: -60px 76%;
    background-size: 243%;
  }
}
